* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}
.title {
  color: #636e72 !important;
}
body {
  margin: 0;
}
.my-sticky{
  position: sticky !important;
	top: 0;
	left: 0;
	z-index: 10;
}

.item {
  cursor: pointer;
}
.both-me {
  display: flex;
  flex-direction: column;
  gap: 10;
}
.image {
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.image img {
  width: 100%;
  object-fit: cover;
}
